<main>
	<h1 class="text-center">Hello World</h1>
	<h2 class="text-end">Second</h2>
	<h3>3 Title</h3>
	<h4>Four</h4>

	<hr>

	<div class="display-1 text-muted">Hello World</div>
	<div class="display-2">Second</div>
	<div class="display-3">3 Title</div>
	<div class="display-4">Four</div>

	<hr>

	<span class="text-muted text-end">Додатковий текст</span>
	<div class="text-muted text-end">Інший текст</div>
	<div class="text-muted text-end">Риба <span class="display-6"> текст </span></div>

	<hr>

	<h1 class="text-uppercase">Hello World</h1>
	<h2 class="text-lowercase">Second</h2>
	<h3 class="text-capitalize">3 title one two</h3>

	<hr>

	<button class="btn btn-primary"><span class="text-uppercase"> primary button <h1>test</h1></span></button>
	<button class="btn btn-secondary">secondary button</button>
	<button class="btn btn-success">success-uppercase button</button>
	<button class="btn btn-danger">danger button</button>
	<button class="btn btn-warning">warning button</button>
	<button class="btn btn-info">info button</button>
	<button class="btn btn-light">light button</button>
	<button class="btn btn-dark">dark button</button>
	<button class="btn btn-link">link button</button>

	<hr>

	<a href="#" class="btn btn-primary">button-primary</a>

	<hr>

	<p class="text-primary">My text</p>
	<p class="text-secondary">My text</p>
	<p class="text-success">My text</p>
	<p class="text-danger">My text</p>
	<p class="text-warning">My text</p>
	<p class="text-info">My text</p>
	<p class="text-light">My text</p>
	<p class="text-dark">My text</p>

	<hr>

	<button class="btn btn-outline-primary"><span class="text-uppercase"> primary button <h1>test</h1></span></button>
	<button class="btn btn-outline-secondary">secondary button</button>
	<button class="btn btn-outline-success">success-uppercase button</button>
	<button class="btn btn-outline-danger">danger button</button>
	<button class="btn btn-outline-warning">warning button</button>
	<button class="btn btn-outline-info">info button</button>
	<button class="btn btn-outline-light">light button</button>
	<button class="btn btn-outline-dark">dark button</button>
	<button class="btn btn-outline-link">link button</button>

	<hr>

	<div class="card">
		<div class="card-body">
			<button class="btn btn-outline-danger btn-lg">danger button</button>
			<button class="btn btn-outline-warning btn-sm">warning button</button>
			<button class="btn btn-outline-info">info button</button>
		</div>
	</div>
	

	<hr>

	<div class="card">
		<div class="card-body">
			this is content
		</div>
	</div>

</main>