{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
    <div class="text-bg-light">
      <div class="ms-3 mt-5">
         <h3>Список сторінок</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="ms-3 mt-5">
         <div class="mt-3">
            <a href="/skills" class="btn btn-primary">skills</a>
         </div>
         <div class="mt-3">
            <a href="/summary" class="btn btn-primary">summary</a>
         </div>
         <div class="mt-3">
            <a href="/education" class="btn btn-primary">education</a>
         </div>
         <div class="mt-3">
            <a href="/bio" class="btn btn-primary">bio</a>
         </div>
         <div class="mt-3">
            <a href="/bootstrap" class="btn btn-primary">bootstrap</a>
         </div>
         <div class="mt-3">
            <a href="/car" class="btn btn-primary">car</a>
         </div>
         <div class="mt-3">
            <a href="/facebook" class="btn btn-primary">facebook</a>
         </div>
         <div class="mt-3">
            <a href="/js" class="btn btn-primary">js</a>
         </div>
         <div class="mt-3">
            <a href="/mac" class="btn btn-primary">mac</a>
         </div>
         <div class="mt-3">
            <a href="/person" class="btn btn-primary">person</a>
         </div>
         <div class="mt-3">
            <a href="/program" class="btn btn-primary">program</a>
         </div>
         <div class="mt-3">
            <a href="/shophome" class="btn btn-primary">shophome</a>
         </div>
         <div class="mt-3">
            <a href="/task21" class="btn btn-primary">task21</a>
         </div>
         <div class="mt-3">
            <a href="/task22" class="btn btn-primary">task22</a>
         </div>
         <div class="mt-3">
            <a href="/task31" class="btn btn-primary">task31</a>
         </div>
         <div class="mt-3">
            <a href="/web" class="btn btn-primary">web</a>
         </div>
         <div class="mt-3">
            <a href="/work" class="btn btn-primary">work</a>
         </div>
      </div>
    </div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}