<div>

        {{#if big}}
                <h2 mb-5>{{data}}</h2>
        {{else}}
                <h3 mb-3>{{data}}</h3>
        {{/if}}

</div>

{{!-- <style>
        h2 {
                color: rgb(30, 0, 128);
        }

        h3 {
                color: green;
        }
</style> --}}




